<%= form_with(model: provider, class: "contents") do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><strong>No se pudo crear el proveedor:</strong></h2>
      <ul>
        <% provider.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "Nombre completo" %>
  </div>
  <div class="my-5">
    <%= form.label "Teléfono" %>
    <div class="flex flex-row gap-4">
      <%= form.telephone_field :telefono, class: "shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "Telefono", maxlength:'10' %>
    </div>
  </div>
  <div class="my-5">
    <%= form.label 'Dirección' %>
    <%= form.text_field :direccion, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "Cl | Cra. 00 00-00", maxlength: '60' %>
  </div>
  <div class="my-5">
    <%= form.label 'Email' %>
    <%= form.text_field :correo_electronico, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "ejemplo@email.com", maxlength:'60' %>
  </div>
  <div class="my-5">
    <div class="flex justify-center flex-row">
      <%= form.submit "#{action_name == "new" ? "Crear" : "Actualizar"} proveedor", class: "bg-primary hover:bg-primary-hover-500 rounded-lg py-2 px-5
			text-white font-medium cursor-pointer", id: "submit-btn" %>
    </div>
  </div>
<% end %>

<%# <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const submitBtn = document.querySelector('#submit-btn');

        form.addEventListener('submit', function (event) {
            if (!form.nombre.value || !form.telefono.value || !form.direccion.value) {
                event.preventDefault();
                submitBtn.disabled = true;
            }
        });
    });
</script> %>
