<tr id="<%= dom_id provider %>" class="border-b border-gray-200 even:bg-gray-200 pl-[5%] text-center">
	<td>
		<p class="py-2">
			<% if action_name == "show" %>
			<b>Nombre:</b>
			<% end %>
		<%= provider.nombre %>		
		</p>
	</td>
	<td>
		<p class="py-2">
			<% if action_name == "show" %>
				<b>Telefono:</b>
			<% end %>
			<%= provider.telefono %>
		</p>
	</td>
	<td>
		<p class="py-2">
			<% if action_name == "show" %>
				<b>Dirección:</b>
			<% end %>
			<%= provider.direccion %>
		</p>
	</td>
	<td>
		<p class="py-2">
			<% if action_name == "show" %>
				<b>Fecha creación:</b>
			<% end %>
			<%= provider.created_at.strftime("%d/%m/%Y %H:%M") %>
		</p>
	</td>
	<% if action_name != "show" %>
		<td>
			<div class="flex flex-row flex-nowrap justify-center">
				<%= link_to edit_provider_path(provider), class:'mr-2' do %>
					<%= image_tag("svgs/IconEdit.svg", alt: "IconEdit", width: "22", height: "22") %>
				<% end %>
				<%= link_to provider do %>
					<%= image_tag("svgs/IconVer.svg", alt: "IconVer", width: "22", height: "22") %>
				<% end %>
			</div>
		</td>
	<% end %>
</td>
</tr>





