<div class="flex justify-center items-center h-screen">
  <div class="w-full sm:w-[80%] md:w-[60%] lg:w-[50%] bg-white rounded-lg">
    <div class="grid grid-flow-col grid-cols-4">
      <div class="col-span-4 p-4">
        <h2 class="text-lg font-bold text-primary whitespace-nowrap text-left pl-4">Detalles del proveedor</h2>
        <table class="table-auto w-full my-5">
          <tbody class="font-regular text-sm">
          <tr>
            <td class="px-4 py-[5px] font-semibold">Nombre:</td>
            <td class="px-4 py-[5px]"><%= @provider.nombre %></td>
          </tr>
          <tr>
            <td class="px-4 py-[5px] font-semibold">Telefono:</td>
            <td class="px-4 py-[5px]"><%= @provider.telefono %></td>
          </tr>
          <tr>
            <td class="px-4 py-[5px] font-semibold">Precio:</td>
            <td class="px-4 py-[5px]"><%= @provider.direccion %></td>
          </tr>
          <tr>
            <td class="px-4 py-[5px] font-semibold">Correo:</td>
            <td class="px-4 py-[5px]"><%= @provider.email %></td>
          </tr>
          <tr>
            <td class="px-4 py-[5px] font-semibold">Fecha creación:</td>
            <td class="px-4 py-[5px]"><%= @provider.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
          </tr>
          </tbody>
        </table>
        <div class="flex justify-center items-center gap-x-4 w-full flex-wrap">
          <%= link_to 'Editar', edit_provider_path(@provider), class: "rounded-lg py-3 px-5 bg-gray-300 hover:text-white hover:bg-gray-400 whitespace-nowrap font-medium text-sm" %>
          <%= button_to 'Eliminar', provider_path(@provider), method: :delete, class: "rounded-lg rounded-lg py-3 px-5 bg-red-500 text-white hover:bg-primary-hover-700 whitespace-nowrap font-medium text-sm" %>
          <%= link_to 'Volver al listado', providers_path, class: "rounded-lg py-3 px-5 bg-gray-300 hover:text-white hover:bg-gray-400 whitespace-nowrap font-medium" %>
        </div>
      </div>
    </div>
  </div>
</div>
