<section class="my-5 w-full">
  <div class="mx-auto max-w-screen-xl px-4">
    <div class="my-5 px-4">
      <%= render partial: "shared/heading", locals: { title: 'Dashboard', description: '' } %>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 px-4 ">
      <div class=" rounded-lg shadow-md p-6 bg-primary-hover-500 text-black">
        <h2 class="text-lg font-medium mb-4 text-center drop-shadow-lg">Clientes</h2>
        <div class="flex items-center justify-center">
          <%= @totalClientes %>
        </div>
      </div>
      <div class="bg-white text-black rounded-lg shadow-md p-6">
        <h2 class="text-lg font-medium mb-4 text-center drop-shadow-lg">Categorias</h2>
        <div class="flex items-center justify-center">
          <%= @totalCategorias %>
        </div>
      </div>
      <div class="bg-green-400 text-black rounded-lg shadow-md p-6">
        <h2 class="text-lg font-medium mb-4 text-center drop-shadow-lg">Productos</h2>
        <div class="flex items-center justify-center">
          <%= @totalProductos %>
        </div>
      </div>
      <div class="bg-slate-300 text-black rounded-lg shadow-md p-6">
        <h2 class="text-lg font-medium mb-4 text-center drop-shadow-lg">Proveedores</h2>
        <div class="flex items-center justify-center">
          <%= @totalProveedores %>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-4 my-5">
      <div class="p-6 md:col-span-2 lg:col-span-1">
        <h1 class="text-primary font-semibold text-md mb-2">Productos que están por caducar:</h1>
        <% @products.select { |product| product.fecha_caducidad && product.fecha_caducidad <= Date.today + 1.month }
        .sort_by(&:fecha_caducidad)
        .take(10)
        .each do |product| %>
            <% if product.fecha_caducidad <= Date.today %>
          <ul>
              <li class="flex justify-between items-center">
                <span class="text-red-500">- <%= product.nombre %></span>
                <%= tag.span(distance_of_time_in_words(Date.today, product.fecha_caducidad, { add_suffix: true }), class: 'text-red-500') %>
              </li>
            <% else %>
              <li class="flex justify-between items-center">
                <span class="text-black">- <%= product.nombre %></span>
                <%= tag.span(distance_of_time_in_words(Date.today, product.fecha_caducidad, { add_suffix: true }), class: 'text-red-500') %>
              </li>
          </ul>
            <% end %>
        <% end %>
      </div>
      <div class="bg-white rounded-lg shadow-md p-6 col-span-2">
        <h1  class="text-primary font-semibold text-md">Salidas - Entradas recientes</h1>
        <%= line_chart [
            { name: "Entradas", data: @movements.where(tipo_movimiento: 0).group_by_week(:created_at).count },
            { name: "Salidas", data: @movements.where(tipo_movimiento: 1).group_by_week(:created_at).count }
          ], xtitle: "Tiempo", ytitle: "Cantidad", empty: "Sin movimientos existentes.", title: "Movimientos", download: { filename: "Movimiento_" + (DateTime.now.strftime("%d%m%Y%M") + (@movements.count).to_s) }, library: { backgroundColor: "#f5f5f5", titleTextStyle: { color: "#000000", fontSize: 20 }, legend: { position: "top", textStyle: { color: "#000000", fontSize: 14 } }, hAxis: { textStyle: { color: "#000000", fontSize: 14 } }, vAxis: { textStyle: { color: "#000000", fontSize: 14 } } } %>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-4">
      <div class="bg-white rounded-lg shadow-md p-6">
        <h1 class="text-primary font-semibold text-md">Top clientes</h1>
        <%= pie_chart Client.where(puntaje: 0..1000).order(puntaje: :desc).limit(10).pluck(:nombre, :puntaje).to_h, empty: "Sin clientes existentes.", library: { backgroundColor: "#f5f5f5", titleTextStyle: { color: "#000000", fontSize: 20 }, legend: { position: "top", textStyle: { color: "#000000", fontSize: 14 } }, hAxis: { textStyle: { color: "#000000", fontSize: 14 } }, vAxis: { textStyle: { color: "#000000", fontSize: 14 } } } %>

      </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <h1  class="text-primary font-semibold text-md">Top salidas - productos</h1>
        <%= pie_chart Movement::where(tipo_movimiento: 1).group(:inventory_id).count, empty: "Sin movimientos existentes.", library: { backgroundColor: "#f5f5f5", titleTextStyle: { color: "#000000", fontSize: 20 }, legend: { position: "top", textStyle: { color: "#000000", fontSize: 14 } }, hAxis: { textStyle: { color: "#000000", fontSize: 14 } }, vAxis: { textStyle: { color: "#000000", fontSize: 14 } } } %>
      </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <h1  class="text-primary font-semibold text-md">Top entradas - productos</h1>
        <%= pie_chart Movement::where(tipo_movimiento: 0).group(:inventory_id).count, empty: "Sin movimientos existentes.", library: { backgroundColor: "#f5f5f5", titleTextStyle: { color: "#000000", fontSize: 20 }, legend: { position: "top", textStyle: { color: "#000000", fontSize: 14 } }, hAxis: { textStyle: { color: "#000000", fontSize: 14 } }, vAxis: { textStyle: { color: "#000000", fontSize: 14 } } } %>
      </div>
    </div>
  </div>
</section>
