<% link = pagy_link_proc(pagy, link_extra: 'class="px-3 py-1.5 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 rounded"') -%>
<nav class="pagy-tailwind-nav my-5" role="navigation">
  <ul class="flex items-center justify-center">
    <% if pagy.prev -%>
      <li class="prev"><%== link.call(pagy.prev, pagy_t('pagy.nav.prev'), 'aria-label="previous"') %></li>
    <% else -%>
      <li class="prev"><a href="#" class="px-3 py-1.5 border border-gray-300 bg-white text-sm font-medium text-gray-500 cursor-not-allowed rounded"><%== pagy_t('pagy.nav.prev') %></a></li>
    <% end -%>
    <% start_page = [1, pagy.page - 1].max %>
    <% end_page = [pagy.last, pagy.page + 1].min %>
    <% (start_page..end_page).each do |item| -%>
      <% if item == pagy.page -%>
        <li><a href="#" class="flex items-center justify-center border border-gray-500 shadow-md bg-primary px-3 py-2 text-sm leading-tight text-white cursor-not-allowed"><%== item %></a></li>
      <% else -%>
        <li><%== link.call(item, item, 'class="px-3 py-1.5 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 rounded"') %></li>
      <% end -%>
    <% end -%>
    <% if pagy.next -%>
      <li class="next"><%== link.call(pagy.next, pagy_t('pagy.nav.next'), 'aria-label="next"') %></li>
    <% else -%>
      <li class="next"><a href="#" class="px-3 py-1.5 border border-gray-300 bg-white text-sm font-medium text-gray-500 cursor-not-allowed rounded"><%== pagy_t('pagy.nav.next') %></a></li>
    <% end -%>
  </ul>
</nav>
