<tr id="<%= dom_id client %>" class="border-b">
  <td class="px-4 py-3 whitespace-nowrap font-medium text-gray-900">
    <%= client.cedula %>
  </td>
  <td class="px-4 py-3 whitespace-nowrap ">
    <%= client.nombre %>
  </td>
  <td class="px-4 py-3 whitespace-nowrap">
    <%= client.telefono %>
  </td>
  <td class="px-4 py-3 whitespace-nowrap">
    <%= client.puntaje %>
  </td>
  <td class="px-4 py-3 whitespace-nowrap">
    <div class="flex flex-row flex-nowrap justify-center gap-x-2">
      <%= link_to edit_client_path(client), class: "flex justify-center items-center gap-x-2 px-4 py-2 hover:ring-primary hover:ring-1 rounded-lg " do %>
        <%= image_tag("svgs/IconEdit.svg", alt: "IconEdit", width: "22", height: "22") %>
        Editar
      <% end %>
      <%= link_to client, class: "flex justify-center items-center gap-x-2 px-4 py-2 hover:ring-primary hover:ring-1 rounded-lg " do %>
        <%= image_tag("svgs/IconVer.svg", alt: "IconVer", width: "22", height: "22") %>
        Ver
      <% end %>
    </div>
  </td>
</tr>
