</div>
<tr id="<%= dom_id client %>" class="border-b">
  <td class="px-4 py-3 whitespace-nowrap font-medium text-gray-900">
    <%= client.cedula %>
  </td>
  <td class="px-4 py-3 whitespace-nowrap ">
    <%= client.nombre %>
  </td>
  <td class="px-4 py-3 whitespace-nowrap">
    <%= client.telefono %>
  </td>
  <td class="px-4 py-3 whitespace-nowrap">
    <%= client.puntaje %>
  </td>
  <td class="px-4 py-3 whitespace-nowrap">
    <div class="flex flex-row flex-nowrap justify-center gap-x-2">
      <%= render partial: 'shared/menu_dropdown', locals: {  ver_method: client, edit_method: edit_inventory_path(client) } %>
    </div>
  </td>
</tr>
