<%= form_with(model: client, class: "contents") do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(client.errors.count, "error") %> no permitieron que este cliente fuera guardado:</h2>
      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :cedula %>
    <%= form.number_field :cedula, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:'Cedula de ciudadania o NIT', maxlength:'10'  %>
  </div>
  <div class="my-5">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:'Nombre completo' %>
  </div>
  <div class="my-5">
    <%= form.label 'Correo' %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:'Correo electronico' %>
  </div>
  <div class="my-5">
    <%= form.label "Teléfono" %>
    <div class="flex flex-row gap-4">
      <%= form.telephone_field :telefono, class: "shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "Telefono", maxlength:'10' %>
    </div>
  </div>
  <% if action_name == 'edit' %>
    <div class="my-5">
      <%= form.label :puntaje %>
      <%= form.number_field :puntaje, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:'Puntaje' %>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.hidden_field :puntaje, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:'Puntaje' %>
  </div>
  <div class="flex justify-center flex-row">
    <%= form.submit "#{action_name == "new" ? "Añadir" : "Actualizar"} cliente", class: "bg-primary hover:bg-primary-hover-500 rounded-lg py-2 px-5 text-white font-medium cursor-pointer" %>
    <%= link_to "Volver al listado", clients_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-300 hover:text-white hover:bg-gray-400 inline-block font-medium" %>
    <% if action_name == "edit" %>
      <%= link_to "Detalles", client, class: "ml-2 rounded-lg py-3 px-5 bg-gray-300 hover:text-white hover:bg-gray-400 inline-block font-medium" %>
    <% end %>
  </div>
<% end %>
