<section class="mt-10 sm:mt-5 w-full">
  <div class="mx-auto max-w-screen-xl px-4">
    <h1 class="font-bold text-4xl pt-5 sm:pt-0">Clientes</h1>
    <div class="relative overflow-hidden sm:rounded-lg py-3 md:pb-3">
      <div class="flex flex-col items-center justify-end space-y-3 px-4 md:flex-row md:space-x-4 md:space-y-0">
        <div class="flex w-full flex-shrink-0 flex-col items-stretch justify-end space-y-2 md:w-auto md:flex-row md:items-center md:space-x-3 md:space-y-0 mb-3">
          <div class="flex w-full items-center space-x-3 md:w-auto">
            <%# ----------------- Nuevo producto ------------------- %>
            <%= link_to new_client_path, class: "hover:text-primary-700 flex w-full w-[15dvw] items-center justify-center rounded-lg border border-gray-200 bg-white px-4 md:px-6 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200 hover:border hover:border-black focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 whitespace-nowrap shadow-lg" do %>
              <%= image_tag "svgs/IconPlus.svg", class: "text-primary stroke-primary h-6 mr-3" %>
              Nuevo cliente
            <% end %>
            <%# -----------------		--		 ------------------- %>
            <%# ----------------- Exportar a excel ------------------- %>
            <%= link_to clients_path( id: @Clients, format: :xlsx), class: "hover:text-primary-700 flex w-full w-[15dvw] items-center justify-center rounded-lg border border-gray-200 bg-white px-4 md:px-6 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200 hover:border hover:border-black focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 whitespace-nowrap shadow-lg" do %>
              Exportar
              <%= image_tag "svgs/IconExcel.svg", class: "text-primary stroke-primary h-6 ml-3" %>
            <% end %>
            <%# -----------------		--		 ------------------- %>
          </div>
        </div>
      </div>
      <div class="w-full h-[500px] flex flex-col bg-white shadow-lg">
        <div class="overflow-x-auto">
          <table class="w-full text-left text-sm text-gray-500">
            <thead class="text-xs uppercase sticky top-0 bg-primary text-white z-10">
              <tr>
                <th scope="col" class="px-4 py-3 whitespace-nowrap">
                  <%= sort_link_to "Cedula", :cedula %>
                </th>
                <th scope="col" class="px-4 py-3 whitespace-nowrap">
                  <%= sort_link_to "Nombre del cliente", :nombre %>
                </th>
                <th scope="col" class="px-4 py-3 whitespace-nowrap">
                  <%= sort_link_to "Telefono", :telefono %>
                </th>
                <th scope="col" class="px-4 py-3 whitespace-nowrap">
                  <%= sort_link_to "Puntaje", :puntaje %>
                </th>
                <th scope="col" class="px-4 py-3 whitespace-nowrap">
                  <span class="sr-only">Acciones</span>
                </th>
              </tr>
            </thead>
            <tbody class="overflow-auto">
              <%= render @clients %>
            </tbody>
          </table>
        </div>
      </div>
    <div class="flex flex-row items-center justify-center sm:justify-between flex-wrap ">
      <%== render partial: 'shared/pagination_nav', locals: {pagy: @pagy} %>
      <%= form_with url: "", method: :get, data: {turbo_frame: "clients", turbo_action: "advance"}, class:"flex items-center gap-x-2" do |form| %>
          Mostrar <%= form.select :count, options_for_select([10,20,50,100], selected: params[:count]), {} , {onchange: "this.form.requestSubmit()",class:'rounded-lg'} %> por página
      <%end%>
    </div>
  </div>
</section>
