<tr id="<%= dom_id category %>" class="even:bg-gray-200 text-center hover:ring-primary">
	<td>
		<p class="py-2">
			<% if action_name == "show" %>
				<b>Nombre:</b>
			<% end %>
			<%= category.nombre %>
		</p>
	</td>
	<td>
		<p class="py-2">
			<% if action_name == "show" %>
				<b>Fecha creación:</b>
			<% end %>
			<%= category.created_at.strftime("%d/%m/%Y %H:%M") %>
		</p>
	</td>
	<% if action_name != "show" %>
		<td>
			<div class="flex flex-row flex-nowrap justify-center gap-x-2">
				<%= link_to edit_category_path(category) do %>
					<%= image_tag("svgs/IconEdit.svg", alt: "IconEdit", width: "22", height: "22") %>
				<% end %>
				<%= link_to category do %>
					<%= image_tag("svgs/IconVer.svg", alt: "IconVer", width: "22", height: "22") %>
				<% end %>
			</div>
		</td>
	<% end %>
</td>
</tr>
