<%= turbo_frame_tag 'new_category' do %>
<tr id="<%= dom_id category %>" class="even:bg-gray-200 text-center hover:bg-gray-300">
  <td>
    <p class="py-2 px-4 text-left">
      <%= category.nombre %>
    </p>
  </td>
  <td>
    <p class="py-2">
      <%= category.created_at.strftime("%d/%m/%Y %H:%M") %>
    </p>
  </td>
  <% if action_name != "show" %>
    <td>
      <div class="flex flex-row flex-nowrap justify-center gap-x-2">
        <%= link_to edit_category_path(category) do %>
          <%= image_tag("svgs/IconEdit.svg", alt: "IconEdit", width: "22", height: "22") %>
        <% end %>
        <%= button_to category_path(category), method: :delete, data: { confirm: "¿Estás seguro?" } do %>
          <%= image_tag("svgs/IconDelete.svg", alt: "IconDelete", width: "22", height: "22") %>
        <% end %>
      </div>
    </td>
  <% end %>
</tr>
<% end %>

