<%= form_with(model: perishable, class: "contents", html: {multipart: true}) do |form| %>
  <% if perishable.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(perishable.errors.count, "errores") %> no permitieron que este producto fuera guardado:</h2>
      <ul>
        <% perishable.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid grid-flow-row grid-cols-2 items-center gap-x-2 mt-5">
    <div class="col-span-1">
      <%= form.label :nombre, class: "block mt-1 mb-1" %>
      <%= form.text_field :nombre, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full", maxlength:'50', placeholder: 'Nombre del producto' %>
    </div>
    <div class="col-span-1">
      <%= form.label :referencia,class: "block mt-1 mb-1" %>
      <%= form.text_field :referencia, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full", maxlength:'15', placeholder: 'Número de referencia' %>
    </div>
  </div>
  <div class="grid grid-flow-row grid-cols-2 items-center gap-x-2">
    <div class="col-span-1">
      <%= form.label :category_id, "Categoría", class: "block mt-1 mb-1" %>
      <%= form.collection_select :category_id, Category.all.order(nombre: :asc), :id, :nombre, { prompt: 'Seleccione una categoría' }, { class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full' } %>
    </div>
    <div class="col-span-1">
      <%= form.label :precio, "Precio", class: "block mt-1 mb-1" %>
      <%= form.number_field :precio, precision: 4, scale: 2, step: 'any', class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full", min: 1, placeholder: 'Precio del producto' %>
    </div>
  </div>
  <div class="grid grid-flow-row grid-cols-2 items-center gap-x-2">
    <div class="col-span-1">
      <%= form.label "Fecha de caducidad", class: "block mt-3 mb-1" %>
      <%= form.date_field :fecha_caducidad, as: :date, discard_day: true, discard_month: false, order: [:year, :month], class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full', min: Date.today.iso8601 %>
    </div>
    <div class="col-span-1">
      <%= form.label "Foto del Producto", class: "block mt-3" %>
      <%= form.file_field :image, class:'py-2' %>
    </div>
    <div class="col-span-2 text-right">
      <span class="text-xs">Opcional</span>
    </div>
  </div>

  <div class="my-5">
    <div class="flex justify-center flex-row">
      <%= form.submit "Guardar", class: "bg-primary hover:bg-primary-hover-500 rounded-lg py-2 px-5 text-white font-medium cursor-pointer" %>
      <%= link_to "Volver a productos", perishables_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-300 hover:text-white hover:bg-gray-400 inline-block font-medium" %>
      <% if action_name == "edit" %>
        <%= link_to "Detalles", @perishable, class: "ml-2 rounded-lg py-3 px-5 bg-gray-300 hover:text-white hover:bg-gray-400 inline-block font-medium" %>
      <% end %>
    </div>
  </div>
<% end %>
