<%= form_with(model: product, class: "contents") do |form| %>
	<% if product.errors.any? %>
		<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
			<h2><strong>No se pudo crear el producto:</strong></h2>
			<ul>
				<% product.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="my-5">
		<div class="flex justify-center flex-row">
			<%= form.submit "#{action_name == "new" ? "Crear" : "Actualizar"} producto", class: "bg-primary hover:bg-primary-hover-500 rounded-lg py-3 px-5 text-white font-medium cursor-pointer" %>
		</div>
	</div>
	<div class="my-5">
		<%= form.label :nombre %>
		<%= form.text_field :nombre, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
	</div>
	<div class="my-5">
		<%= form.label :referencia %>
		<%= form.text_field :referencia, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
	</div>
	<div class="my-5">
		<%= form.label "Fecha expiración", class: "block mt-3 mb-1" %>
		<%= form.date_field :fecha_expiracion, as: :date, discard_day: true, discard_month: false, order: [:year, :month], class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' %> 
	</div>
	<div class="my-5">
		<%= form.label :provider_id, "Proveedor", class: "block mt-3 mb-1" %>
		<%= form.collection_select :provider_id, Provider.all.order(nombre: :asc), :id, :nombre, { prompt: 'Seleccione un proveedor' }, { class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' } %>
	</div>
	<div class="my-5">
		<%= form.label :category_id, "Categoría",  class: "block mt-3 mb-1" %>
		<%= form.collection_select :category_id, Category.all.order(nombre: :asc), :id, :nombre, { prompt:'Seleccione una categoría' } , { class: 'block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full' } %>
	</div>
<% end %>
