<%= @hola %>
<%= form_with model: @movement, url: create_movement_product_path(@product), method: :post, class: "table-mov min-w-full", local: true do |form| %>
  <div>
    <%= form.select :tipo, options_for_select([["Entrada", 0], ["Salida", 1]], selected: @movement), class: "block rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
  </div>
  <div>
    <%= form.number_field :cantidad, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
  </div>
  <div>
    <%= form.text_area :description, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
  </div>
  <%= form.hidden_field :product_id, value: @product.id %>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
