<div class="flex justify-center items-center h-screen">
  <div class="w-full sm:w-[80%] md:w-[60%] lg:w-[50%] bg-white rounded-lg">
    <div class="grid grid-flow-col grid-cols-4">
      <div class="col-span-1">
        <%= image_tag "data:image/png;base64,#{@product.image}", class:'object-contain w-full h-full', alt:'image-producto' %>
      </div>
      <div class="col-span-3 p-4">
        <h2 class="text-lg font-bold text-primary whitespace-nowrap text-left pl-4">Detalles del producto</h2>
        <table class="table-auto w-full my-5">
          <tbody class="font-regular text-sm">
          <tr>
            <td class="px-4 py-[5px] font-semibold">Nombre:</td>
            <td class="px-4 py-[5px]"><%= @product.nombre %></td>
          </tr>
          <tr>
            <td class="px-4 py-[5px] font-semibold">Referencia:</td>
            <td class="px-4 py-[5px]"><%= @product.referencia %></td>
          </tr>
          <tr>
            <td class="px-4 py-[5px] font-semibold">Precio:</td>
            <td class="px-4 py-[5px]"><%= @product.precio %></td>
          </tr>
          <tr>
            <td class="px-4 py-[5px] font-semibold">Tipo:</td>
            <td class="px-4 py-[5px]"><%= @product.tipo %></td>
          </tr>
          <tr>
            <td class="px-4 py-[5px] font-semibold">Fecha caducidad:</td>
            <% if @product.fecha_caducidad.present? %>
              <td class="px-4 py-[5px]"><%= @product.fecha_caducidad > Date.today ? (distance_of_time_in_words(Date.today, @product.fecha_caducidad) + " restantes") : (distance_of_time_in_words(Date.today, @product.fecha_caducidad) + " expirados") %></td>
            <% else %>
              <td class="px-4 py-[5px]">
                No perecedero
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="px-4 py-[5px] font-semibold">Categoría:</td>
            <td class="px-4 py-[5px]"><%= search_cat_name(@product.category_id) %></td>
          </tr>
          <tr>
            <td class="px-4 py-[5px] font-semibold">Fecha creación:</td>
            <td class="px-4 py-[5px]"><%= @product.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
          </tr>
          </tbody>
        </table>
        <div class="flex justify-center items-center gap-x-4 w-full flex-wrap">
          <%= link_to 'Editar', edit_product_path(@product), class: "rounded-lg py-3 px-5 bg-gray-300 hover:text-white hover:bg-gray-400 whitespace-nowrap font-medium text-sm" %>
          <%= button_to 'Eliminar', product_path(@product), method: :delete, class: "rounded-lg rounded-lg py-3 px-5 bg-red-500 text-white hover:bg-primary-hover-700 whitespace-nowrap font-medium text-sm" %>
          <%= link_to 'Volver a productos', products_path, class: "rounded-lg py-3 px-5 bg-gray-300 hover:text-white hover:bg-gray-400 whitespace-nowrap font-medium" %>
        </div>
      </div>
    </div>
  </div>
</div>
